/* Wufoo Specific Tweaks */
body {
	color: #fff !important;
	font-size: 16px;
	font-family: 'Puritan', Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 1px #333;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.wufoo .info { display:none; }
	